@font-face {
    font-family: 'Calibre';
    src: url('../fonts/Calibre-Thin.eot');
    src: local('Calibre Thin'), local('Calibre-Thin'),
        url('../fonts/Calibre-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Calibre-Thin.woff2') format('woff2'),
        url('../fonts/Calibre-Thin.woff') format('woff'),
        url('../fonts/Calibre-Thin.ttf') format('truetype'),
        url('../fonts/Calibre-Thin.svg#Calibre-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('../fonts/Calibre-Light.eot');
    src: local('Calibre Light'), local('Calibre-Light'),
        url('../fonts/Calibre-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Calibre-Light.woff2') format('woff2'),
        url('../fonts/Calibre-Light.woff') format('woff'),
        url('../fonts/Calibre-Light.ttf') format('truetype'),
        url('../fonts/Calibre-Light.svg#Calibre-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('../fonts/Calibre-Regular.eot');
    src: local('Calibre'), local('Calibre-Regular'),
        url('../fonts/Calibre-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Calibre-Regular.woff2') format('woff2'),
        url('../fonts/Calibre-Regular.woff') format('woff'),
        url('../fonts/Calibre-Regular.ttf') format('truetype'),
        url('../fonts/Calibre-Regular.svg#Calibre-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('../fonts/Calibre-Medium.eot');
    src: local('Calibre Medium'), local('Calibre-Medium'),
        url('../fonts/Calibre-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Calibre-Medium.woff2') format('woff2'),
        url('../fonts/Calibre-Medium.woff') format('woff'),
        url('../fonts/Calibre-Medium.ttf') format('truetype'),
        url('../fonts/Calibre-Medium.svg#Calibre-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('../fonts/Calibre-Semibold.eot');
    src: local('Calibre Semibold'), local('Calibre-Semibold'),
        url('../fonts/Calibre-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Calibre-Semibold.woff2') format('woff2'),
        url('../fonts/Calibre-Semibold.woff') format('woff'),
        url('../fonts/Calibre-Semibold.ttf') format('truetype'),
        url('../fonts/Calibre-Semibold.svg#Calibre-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('../fonts/Calibre-Bold.eot');
    src: local('Calibre Bold'), local('Calibre-Bold'),
        url('../fonts/Calibre-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Calibre-Bold.woff2') format('woff2'),
        url('../fonts/Calibre-Bold.woff') format('woff'),
        url('../fonts/Calibre-Bold.ttf') format('truetype'),
        url('../fonts/Calibre-Bold.svg#Calibre-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calibre';
    src: url('../fonts/Calibre-Black.eot');
    src: local('Calibre Black'), local('Calibre-Black'),
        url('../fonts/Calibre-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Calibre-Black.woff2') format('woff2'),
        url('../fonts/Calibre-Black.woff') format('woff'),
        url('../fonts/Calibre-Black.ttf') format('truetype'),
        url('../fonts/Calibre-Black.svg#Calibre-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadline-Regular.eot'),
        url('../fonts/TiemposHeadline-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TiemposHeadline-Regular.woff2') format('woff2'),
        url('../fonts/TiemposHeadline-Regular.woff') format('woff'),
        url('../fonts/TiemposHeadline-Regular.ttf') format('truetype'),
        url('../fonts/TiemposHeadline-Regular.svg#TiemposHeadline-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadline-Semibold.eot');
    src: local('Tiempos Headline Semibold'), local('TiemposHeadline-Semibold'),
        url('../fonts/TiemposHeadline-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TiemposHeadline-Semibold.woff2') format('woff2'),
        url('../fonts/TiemposHeadline-Semibold.woff') format('woff'),
        url('../fonts/TiemposHeadline-Semibold.ttf') format('truetype'),
        url('../fonts/TiemposHeadline-Semibold.svg#TiemposHeadline-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadline-Bold.eot'),
        url('../fonts/TiemposHeadline-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TiemposHeadline-Bold.woff2') format('woff2'),
        url('../fonts/TiemposHeadline-Bold.woff') format('woff'),
        url('../fonts/TiemposHeadline-Bold.ttf') format('truetype'),
        url('../fonts/TiemposHeadline-Bold.svg#TiemposHeadline-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadline-RegularItalic.eot');
    src: local('Tiempos Headline Regular Italic'), local('TiemposHeadline-RegularItalic'),
        url('../fonts/TiemposHeadline-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TiemposHeadline-RegularItalic.woff2') format('woff2'),
        url('../fonts/TiemposHeadline-RegularItalic.woff') format('woff'),
        url('../fonts/TiemposHeadline-RegularItalic.ttf') format('truetype'),
        url('../fonts/TiemposHeadline-RegularItalic.svg#TiemposHeadline-RegularItalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadline-SemiboldItalic.eot');
    src: local('Tiempos Headline Semibold Italic'), local('TiemposHeadline-SemiboldItalic'),
        url('../fonts/TiemposHeadline-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TiemposHeadline-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/TiemposHeadline-SemiboldItalic.woff') format('woff'),
        url('../fonts/TiemposHeadline-SemiboldItalic.ttf') format('truetype'),
        url('../fonts/TiemposHeadline-SemiboldItalic.svg#TiemposHeadline-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Tiempos Headline';
    src: url('../fonts/TiemposHeadline-BoldItalic.eot');
    src: local('Tiempos Headline Bold Italic'), local('TiemposHeadline-BoldItalic'),
        url('../fonts/TiemposHeadline-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TiemposHeadline-BoldItalic.woff2') format('woff2'),
        url('../fonts/TiemposHeadline-BoldItalic.woff') format('woff'),
        url('../fonts/TiemposHeadline-BoldItalic.ttf') format('truetype'),
        url('../fonts/TiemposHeadline-BoldItalic.svg#TiemposHeadline-BoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
}
