/* ---------- Bradstrap v4 Global Updates --------- */
// 8pt Grid System
$grid-gutter-width:     32px !default;
$container-max-widths:  (sm: 544px, md: 736px, lg: 960px, xl: 1168px) !default;

// 8pt Spacers Extended
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25), 2: ($spacer * .5),   3: ($spacer * 1),  4: ($spacer * 1.5),
  5: ($spacer * 2),   6: ($spacer * 2.5),  7: ($spacer * 3),  8: ($spacer * 3.5),
  9: ($spacer * 4),  10: ($spacer * 4.5), 11: ($spacer * 5), 12: ($spacer * 6)
), $spacers);

// Updating Base Colors (I don't believe in false greys.)
$white:    #fff !default;
$gray-100: #f8f8f8 !default; $gray-200: #eeeeee !default; $gray-300: #dddddd !default;
$gray-400: #cccccc !default; $gray-500: #555555 !default; $gray-600: #666666 !default;
$gray-700: #555555 !default; $gray-800: #333333 !default; $gray-900: #212121 !default;
$black:    #000 !default;

/* ---------- Site Specific Variables Updates --------- */
$white: #fff;
$blue: #4EA1D3;
$red: #EC4964;
$link-color:                        #4EA1D3;

$navbar-light-color:                $gray-800;
$navbar-light-hover-color:          $link-color;
$navbar-light-active-color:         $link-color;
$navbar-light-disabled-color:       rgba($gray-800, .3);
$navbar-light-toggler-border-color: transparent;

$btn-border-radius:                 4px !default;
$btn-border-radius-lg:              4px !default;
$btn-border-radius-sm:              2px !default;

$modal-content-border-color:        transparent !default;
$modal-backdrop-bg:                 $gray-800 !default;
$modal-backdrop-opacity:            .8 !default;
$modal-inner-padding:               1.5rem !default;
$modal-header-padding:              1.5rem !default;
$modal-lg:                          960px !default;
$modal-md:                          480px !default;
$modal-sm:                          320px !default;

/* ---------- Importin' --------- */
@import "bootstrap-4.0.0/scss/bootstrap.scss";
@import "fontfaces.scss";

/* ---------- Stylin' --------- */
html,
body {
  height: 100%;
}

body {
    font-family: 'Calibre';
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.navbar {
    min-height: 128px;
    border-bottom: 1px solid #F5F5F5;
}

a.nav-link {
    font-family: 'Calibre';
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 1;
    color: #333;
}

a.nav-link:hover {
    color: $primary;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (max-width: 767px) {
    .navbar-collapse {
        margin-top: 2rem;
    }
}

footer {
    background-color: $gray-800;
    color: $white;
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 8px;
    padding-bottom: 8px;
}

footer .row {
    min-height: 24px;
}

footer .col-sm-6:last-of-type {
    text-align: right;
}

@media (max-width: 576px) {
    footer,
    footer .col-sm-6:last-of-type {
        text-align: center;
    }
}

.hero {
    min-height: 566px;
    color: #333;
    padding-top: 128px;
    font-size: 24px;
    color: #333333;
    letter-spacing: 0.1px;
    line-height: 30px;
}

.hero {
    .flag-follow {
        position: relative;
    }

    .flag-follow > .flag {
        position: absolute;
        left: 50%;
        margin-left: -12px;
        top: -4px;
        transform: rotate(-12deg);
    }
}

h1 {
    font-size: 64px;
    line-height: 80px;
    font-family: 'Tiempos Headline';
    font-weight: 600;
    font-style: normal;
    margin-bottom: 48px;
}

h2 {
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    color: #4EA1D3;
    letter-spacing: 0.12px;
    line-height: 30px;
    margin-bottom: 16px;
}

@media (max-width: 768px) {
    .hero {
        padding-top: 80px;
    }

    h1 {
        font-size: 56px;
        line-height: 72px;
    }
}

@media (max-width: 576px) {
    .hero {
        padding-top: 72px;
    }

    h1 {
        font-size: 48px;
        line-height: 64px;
        text-align: center;
    }

    .flag-follow > .flag {
        margin-left: -10px;
        top: -5px;
    }
}

@media (max-width: 375px) {
    .hero {
        padding-top: 64px;
    }

    h1 {
        font-size: 40px;
        line-height: 52px;
    }
}

.primary {
    color: $primary;
}

.event {
    background: #F1F9FC;
    min-height: 400px;
    padding-top: 48px;
    padding-bottom: 48px;
    position: relative;
    margin-bottom: 128px;
}

dl,
dd {
    font-size: 20px;
    color: #555555;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 16px;
}

dt {
    font-weight: 600;
    margin-bottom: 4px;
}

.btn {
    line-height: 1;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    padding: 12px 24px 8px;
}

.btn-lg {
    font-size: 20px;
    padding: 16px 24px 10px;
}

.media {
    font-size: 18px;
    line-height: 24px;
}

.media img {
    max-width: 112px;
}

.icon-button {
    position: absolute;
    left: 50%;
    margin-left: -71px;
    bottom: -72px;
    transform: rotate(-12deg);
}

.footer-callout {
    margin-bottom: 112px;
}

@media (max-width: 767px) {
    .footer-callout {
        text-align: center;
    }
}

.dl-lg {
    dt {
        font-family: 'Tiempos';
        font-weight: 600;
        font-size: 26px;
        color: #333333;
        letter-spacing: 0.1px;
        line-height: 30px;
        margin-bottom: 16px;
    }

    dl,
    dd {
        font-size: 24px;
        color: #333333;
        letter-spacing: 0.1px;
        line-height: 30px;
        font-weight: normal;
        font-style: normal;
        margin-bottom: 24px;
    }
}

.content-page {
    font-size: 20px;
    color: #333333;
    letter-spacing: 0.1px;
    line-height: 26px;
    margin-top: 128px;
    margin-bottom: 112px;
}

.content-page {
    p.lead {
        font-size: 24px;
        color: #4EA1D3;
        letter-spacing: 0.1px;
        line-height: 30px;
        color: $primary;
        margin-bottom: 32px;
    }
}

.quote-sidebar {
    background: #F1F9FC;
    padding: 24px 24px 32px 24px;
    font-size: 16px;
    color: #4EA1D3;
    letter-spacing: 0.1px;
    line-height: 1.5;
    position: relative;
}

.quote-sidebar {
    .divider {
        border-bottom: 1px solid #DDDDDD;
        margin-top: -4px;
        margin-bottom: 16px;
    }
}

.quote-author {
    font-weight: 600;
    letter-spacing: .3px;
    font-size: 16px;
    color: #555555;
    text-align: center;
    line-height: 25px;
}

.quote-info {
    font-size: 14px;
    color: #555555;
    text-align: center;
}

.quote-sidebar .flag {
    position: absolute;
    left: 50%;
    margin-left: -18px;
    bottom: -10px;
    transform: rotate(-12deg);
}

.modal-header {
    padding: 22px 24px 13px;
}

.close {
    font-size: 20px;
    line-height: 28px;
    font-weight: normal;
    vertical-align: bottom;
    opacity: .75;
}

.modal-content {
    font-size: 16px;
    line-height: 1.25;
    color: #333333;
    letter-spacing: 0.19px;
}

.modal-footer {
    padding: 1rem 1.5rem;
    justify-content: center;
}

.modal-title {
    font-size: 24px;
    font-weight: 600;
    color: #333333;
}

.form-group {
    margin-bottom: .5rem;
}

.form-group label {
    font-weight: 600;
    font-size: 20px;
    color: #555555;
}

.form-control {
    font-size: 17px;
    line-height: 20px;
    padding: 12px 12px 6px;
}

.form-control::-webkit-input-placeholder {
    color: $gray-400;
}
